body, html {
  height: 100%;
  background-image: url(./background.jpg);
}


.App {
  text-align: center;
  height: '100%';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  color: navy;
  font-style: italic;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  height: 80vh;
  margin-top: 20px;
}

#delete-form {
  display: none;
}

.btn {
  min-width: 15em;
  max-width: 2em;
  margin: 2px;
}

.form-input {
  margin: 2px;
}

.search_bar {
  align-self:center;
  font-style: oblique;
}